<!DOCTYPE html>
<html>
   <!-- div {
        background-image: url('../client/background.png');
    }-->
     <!--   #message-container {
        position:fixed;
        top:0;
        right: 0; 
        width: 300px;
        height: 300px;
        border: black;
    }
    #message-input {
        position:fixed;
        bottom:0;
        right:0; 
        border: black;
    }
    #send-button {
        position:fixed;
        bottom:0;
        right: 0; 
        border: black;
    }
-->
<style>
 

    body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: flex;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}
.left-msg .msg-img {
  margin: 0 0 0 0px;
}


.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: rgb(40, 162, 199);
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 0px;
}
.right-msg {
  flex-direction: row-reverse;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

#bot {
    
  min-width: 50px;/*Note the px*/
  min-height: 50px;

}
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#logoff    {
  
     position:absolute;
     bottom:0;
     right:0;
}


div.transbox {
  width:190px;
  height: 125px;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  position:absolute;
  top: 0;
  right: 0;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
  
</style>

<head>
    <title>Agar.io</title>
    <meta charset="UTF-8">
    
  
    <script src="/socket.io/socket.io.js"></script>
    
</head>
<h1 id="name" style="display: none;">
    <%=name%>
</h1>
<h2 id="score" style="position: absolute; bottom: 0;margin-left: 5mm;"></h2>
<form action="/logout?_method=DELETE" method="POST">
    <button id='logoff' type="submit" >Log Out</button>
</form>

<body>
   <!-- <div id="message-container"> Hello </div>
    <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
    </form>-->


    <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> Chat
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>
      
        <main class="msger-chat" id='main'>
          <div class="msg left-msg">
            <div
             class="msg-img"
             id="bot"
             style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
            ></div>
      
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">BOT</div>
              </div>
      
              <div class="msg-text">
                
                Hi, welcome to the game!<br> Go ahead and send a message to your friends. 😄
              </div>
            </div>
          </div>
      
         
        </main>
      
        <form class="msger-inputarea" id="send-container">
          <input type="text" class="msger-input" id="message-input" placeholder="Enter your message...">
          <button type="submit" class="msger-send-btn"  id="send-button" >Send</button>
        </form>
      </section>

      <div id="GameOver" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Game Over 🥺<br> Click outside to try again </p>
        </div>
      
      </div>


    
        <div class="transbox" id="scoreBox">
          <ol type="1">
            <li id="p1">Deni</li>
            <li id="p2"></li>
            <li id="p3"></li>
            <li id="p4"></li>
            <li id="p5"></li>
          </ol>  
        </div>
   
   
    
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>

<script src="../client/Blob.js"></script>

<script src="../client/Player.js"></script>
<script src="../client/game.js"></script>

</html>