<!DOCTYPE html>
<html>
<style>
    div {
        background-image: url('../client/background.png');
    }
</style>

<head>
    <title>Agar.io</title>
    <meta charset="UTF-8">
    <script src="/socket.io/socket.io.js"></script>
</head>
<h1 id="name" style="display: none;">
    <%=name%>
</h1>
<h2 id="score" style="position: absolute; bottom: 0;margin-left: 5mm;"></h2>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>

<script src="../client/Blob.js"></script>

<script src="../client/Player.js"></script>
<script src="../client/game.js"></script>

</html>